


:root {
    --red: #fa6262;
    --blue: #cae9f2;
    --bg-gray: #fbfbfb;
    --yellow: #fffacc;
    --green: #e2efc7;
    --pink: #efc7c7;
    --font-color: #000;
    --blue-solid: #a1dbed;
    --green-solid: #d4eda1;
  }

  * {
    padding: 0;
    margin: 0;
  }

  h1, h2, h3, p {
    font-family: poppins;
  }

nav {
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin: 30px;
}

nav .logo {
    
    margin-left: 60px;
}
nav .logo h1 {
    color: #fa6262;
    font-size: 40px;
}

nav .navright {
    display: flex;
    gap: 50px;
    margin-right: 60px;
}

nav .navright h2{
    font-size: 20px;
}


/*  NAVIGATION  */ 

section {
    display: flex;
    flex-direction: row;

    

    
}

section .lefts {
    
    display: flex;
    flex-direction: row;
    
    flex-wrap: wrap;
    gap: 35px;
    margin-left: 65px;

    max-width: 53%;
    
    
}

section .lefts .note {
    width: 280px;
    height: 280px;
    background-color: rgb(250, 250, 250);

    box-shadow: 1px 1px 1px 1px rgb(189, 189, 189);

    border-radius: 10px;

    position: relative;
    
    


}

/*  NEDANFÖR INUTI NOTES  */
section .lefts .note .info ,h3 ,p {
    margin: 12px;
}


section .lefts .note .info {
    display: flex;
    flex-direction: row;

    margin: 5px;
}

section .lefts .note .info .info1 ,.info2 {
margin-left: 5px;

}


section .lefts .note .info .infogreen {
    background-color: #e2efc7;
    width: 63px;
    height: 25px;

    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}

section .lefts .note .info .infoyellow {
    background-color: #fffacc;
    width: 92px;
    height: 25px;

    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}

section .lefts .note .info .infored {
    background-color: #fa6262;
    width: 55px;
    height: 25px;

    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}

section .lefts .note .info .infoblue {
    background-color: #cae9f2;
    width: 55px;
    height: 25px;

    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}




section .lefts .note h3 {
    font-size: 32px;
}

section .lefts .note p {
    
    font-size: 13px;
}

section .lefts .note .rodpil {
    width: 40px;
    height: 40px;

    background-color: #fa6262;

    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom-right-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}


/*     Left side            */ 

section .rights {
    display: flex;
    flex-direction: column;
}

section .rights .Title h1 {
    font-size: 70px;
    max-width: 400px;
}

section .rights .Text p {
    font-size:  25px;
    max-width: 500px;
    margin-top: 30px;
}

section .rights .Buttons {
    display: flex;
    flex-direction: row;
    

    margin-top: 30px;
    gap: 20px;
    
    
}


section .rights .Buttons .RightB .buttonpil {
    background-color: #89daf1;
    height: 50px;
    width: 50px;
    border-radius: 15px;

    display: flex;

    align-items: center;
    justify-content: center;
} 

section .rights .Buttons .LeftB .buttonpil {
    background-color: #bae85e;
    height: 50px;
    width: 50px;
    border-radius: 15px;

    display: flex;

    align-items: center;
    justify-content: center;
} 


section .rights .Buttons .LeftB {
    background-color: #e2efc7;
    width: 170px;
    height: 50px;
    
    border-radius: 15px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
section .rights .Buttons .RightB {
    background-color: #cae9f2;
    width: 170px;
    height: 50px;
    
    border-radius: 15px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    
    
    
}

/*  HOVERS  */ 

section .lefts .note:hover {
    transform: scale(1.15);
    transition: 0.5s ease-in-out;
}

section .rights .Buttons .RightB:hover {
    transform: scale(1.1);
    transition: 0.25s
}
section .rights .Buttons .LeftB:hover {
    transform: scale(1.1);
    transition: 0.25s
}


/* Media querys */ 

@media screen and (max-width: 1200px) {
    

    section {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;

    }

    section .rights {
        display: flex;
        align-items: center;
        justify-content: center;

    }

    section .lefts {
        max-width: 900px;

        align-items: center;
        justify-content: center;

        padding: 0;
        margin: 0;

        margin-top: 80px;

    }
    section .rights .Buttons {
        display: flex;
        flex-direction: column;
        margin-top: 55px;
    }


}